# Created by .ignore support plugin (hsz.mobi)
### Java template
**/*.class

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
**/*.iml

## Directory-based project format:
.idea/

# IntelliJ
**/out/*

# Maven
**/target/*
