<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehi.tool.dao.JobInfoDAO">

    <resultMap id="jobDetail" type="com.ehi.tool.domain.JobInfo">
        <result column="JOB_ID" property="jobId"></result>
        <result column="JOB_NAME" property="jobName"></result>
        <result column="JOB_GROUP" property="jobGroup"></result>
        <result column="TARGET_OBJECT" property="targetObject"></result>
        <result column="TARGET_METHOD" property="targetMethod"></result>
        <result column="JOB_STATUS" property="jobStatus"></result>
        <result column="CORN_EXPRESSION" property="cronExpression"></result>
    </resultMap>

    <select id="getJobDetails" resultMap="jobDetail">
        <![CDATA[
        SELECT *
        FROM
            JOB_DEV
        ]]>
    </select>

    <select id="getJobById" resultMap="jobDetail">
        <![CDATA[
        SELECT *
        FROM
            JOB_DEV
        WHERE JOB_ID = #{jobId}
        ]]>
    </select>

    <delete id="delJob">
        <![CDATA[
        DELETE
        FROM
            JOB_DEV
        WHERE JOB_ID = #{jobId}
        ]]>
    </delete>

    <insert id="createJob" parameterType="com.ehi.tool.domain.JobInfo">
        <![CDATA[
            INSERT INTO JOB_DEV
            (
                JOB_ID,
                JOB_NAME,
                JOB_GROUP,
                TARGET_OBJECT,
                TARGET_METHOD,
                JOB_STATUS,
                CORN_EXPRESSION
            )
            VALUES
            (
                #{jobId},
                #{jobName},
                #{jobGroup},
                #{targetObject},
                #{targetMethod},
                #{jobStatus},
                #{cronExpression}
            )
        ]]>
    </insert>

    <update id="updateJob" parameterType="com.ehi.tool.domain.JobInfo">
        <![CDATA[
            UPDATE JOB_DEV
            SET
            JOB_NAME = #{jobName},
            JOB_GROUP = #{jobGroup},
            TARGET_OBJECT = #{targetObject},
            TARGET_METHOD = #{targetMethod},
            JOB_STATUS = #{jobStatus},
            CORN_EXPRESSION = #{cronExpression}
            WHERE JOB_ID = #{jobId}
        ]]>
    </update>
</mapper>