<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehi.tool.dao.JobInfoDAO">

    <resultMap id="jobDetail" type="com.ehi.tool.domain.JobInfo">
        <result column="JOB_ID" property="jobId"></result>
        <result column="JOB_NAME" property="jobName"></result>
        <result column="JOB_GROUP" property="jobGroup"></result>
        <result column="TARGET_OBJECT" property="targetObject"></result>
        <result column="TARGET_METHOD" property="targetMethod"></result>
        <result column="JOB_STATUS" property="jobStatus"></result>
        <result column="CORN_EXPRESSION" property="cronExpression"></result>
        <result column="CONCURRENT" property="concurrent"></result>
    </resultMap>

    <select id="getJobDetails" resultMap="jobDetail">
        <![CDATA[
        SELECT *
        FROM
            JOB_DEV
        ]]>
    </select>

    <select id="getJobById" resultMap="jobDetail">
        <![CDATA[
        SELECT *
        FROM
            JOB_DEV
        WHERE JOB_ID = #{jobId}
        ]]>
    </select>
</mapper>