<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="quartzManagerJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="scheduleService"/>
        </property>
        <property name="targetMethod">
            <value>scheduleBuild</value>
        </property>
        <property name="concurrent">
            <value>false</value>
        </property>
    </bean>

    <bean id="quartzManagerTrigger"
          class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="quartzManagerJobDetail"/>
        <property name="startDelay" value="${job.startDelay}"/>
        <property name="repeatInterval" value="${job.repeatInterval}"/>
    </bean>

    <bean id="schedulerFactoryBean" lazy-init="false" autowire="no"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="quartzManagerTrigger"/>
            </list>
        </property>
    </bean>

</beans>